
/* CSS FOR PRODUCT PAGE START  */
.ProductDisplays-left{
    width: 50%;
    margin-top: 60px;
    margin-left: 90px;
    margin-bottom: 60px;
}
.ProductDisplays-right{
    width: 50%;
    margin-top: 60px;
    margin-right: 90px;
    margin-bottom: 60px;
}
.ProductDisplays-img{
    width: 519px;
    height: 519px;

    border-radius: 25px;
}
.ProductDisplays-heading{
    font-size: 44px;
    color:var(--primary-color) ;
    font-weight:700;
    margin-bottom:20px;
}
.ProductDisplays-offerprice{
    font-size: 16.8px;
    text-decoration: line-through;
    color: var(--primary-opacity-color);
}
.ProductDisplays-RegularPrice{
    font-size: 16.8px;
    color:var(--primary-color) ;
}
.product-sale{
    width: 58px;
    height: 29px;
    font-size: 15px;
    padding: 5px 15px;
    font-family: "Mulish", sans-serif;
}
.product-Quantity-div{
    margin: 20px 0;
}
.product-Quantity{
    font-size: 15px;
    font-family: "Mulish", sans-serif;
    color:var(--primary-color) ;
    margin-bottom: 0;
}
.product-Addcount-div{
    border: 1px solid var(--primary-opacity-color);
    width: 140px;
    padding: 10px;
    border-radius: 30px;
   
}
.product-Addcart-button{
    width: 80%;
    height: 47px;
    border-radius: 25Px;
    border: 1px solid var(--primary-color);
    font-family: "Mulish", sans-serif;
    color:var(--primary-color) ;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 20px;
}
.product-Addcart-button:hover{
    border: 2px solid var(--primary-color);
}
.product-buynow-button{
    width: 80%;
    height: 47px;
    border-radius: 25Px;
    border: 1px solid var(--primary-color);
    font-family: "Mulish", sans-serif;
    color:white ;
    margin-bottom: 20px;
}
.product-description{
    font-size: 19px;
    font-family: "Mulish", sans-serif;
    color:var(--primary-opacity-color) ;
    font-weight: 600;
}
.product-description span{
    text-decoration: underline;
    cursor: pointer;
    color:var(--primary-opacity-color-2) ;
    
}
/* CSS FOR PRODUCT PAGE END  */